  # OJS Site Configuration 

{% for install in item.installs %}

  location /{{ install.path }} {

    root "/srv/{{item.name }}/sites";  
    
    # Deny access to some internals
    location ~ /\.ht {
      deny all;
    }
    location ~ /ojs/cache/ {
      deny all;
    }

    # Clean up OJS  urls
    rewrite "^/{{ install.path }}/index(/.*)?$" /{{ install.path }}/ojs/index$1 last;
    rewrite "^/{{install.path }}(.*)$" /{{install.path }}/ojs/{{ install.path }}$1 last; 
  
    # Send PHP scripts to PHP-FRPM
    location ~ ^(.+\.php)(/.*)?$ {

      fastcgi_split_path_info ^(.+\.php)(/.*)$;
      # \1 becomes $fastcgi_script_name
      # \2 becomes $fastcgi_path_info
    
      # Mitigate https://httpoxy.org/ vulnerabilities
      fastcgi_param HTTP_PROXY "";
    
      fastcgi_pass 127.0.0.1:9000;
      fastcgi_index index.php; 
    
      # standard and custom fastcgi_param settings
      include fastcgi_params;
      fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
      fastcgi_param PATH_TRANSLATED $document_root$fastcgi_script_name;
    
      # set PATH_INFO to work around nginx munging it
      fastcgi_param PATH_INFO $2; 

    }
  
    # Route clean URLs to front controller. 
    location  ~ ^(.*)/ojs/?(.*)$ {
      try_files $uri $uri/ $1/ojs/index.php/$2$is_args$args;
    }
  }
{% endfor %}

{% if item.nginx is defined %}
  # Journal-specific config
  {{ item.nginx | indent(2) }}
{% endif %}
