{% if ((ojs_s3_snapshot_base_dir is defined) and (ojs_s3_snapshot_base_dir is not none)) %}
# Directory for S3 snapshots
OJS_S3_SNAPSHOT_DIR="{{ ojs_s3_snapshot_base_dir }}$(/opt/oulib/aws/bin/ec2_get_arn.sh)"
{% endif %}
