## Read useful values out of the config file
PKPPARENT=`dirname ${1}`
PKPDIR=`readlink -f ${1}/ojs`
PKPCFG=${PKPDIR}/config.inc.php
PKPDBHOST=`cat $PKPCFG | grep ^host | cut -d "=" -f 2 | xargs`
PKPDB=`cat $PKPCFG | grep ^name | cut -d "=" -f 2 | xargs`
PKPUSER=`cat $PKPCFG | grep ^username | cut -d "=" -f 2 | xargs`
PKPPASS=`cat $PKPCFG | grep ^password | cut -d "=" -f 2 | xargs`
{% if ((ojs_s3_snapshot_base_dir is defined) and (ojs_s3_snapshot_base_dir is not none)) %}
# Directory for S3 snapshots
OJS_S3_SNAPSHOT_DIR="{{ ojs_s3_snapshot_base_dir }}$(/opt/oulib/aws/bin/ec2_get_arn.sh)"
{% endif %}
