<VirtualHost *:443>

  Include /etc/httpd/conf.d/00ssl.include
  SSLCertificateFile ${HTTPD_CERT_PATH}/star.{{ httpd_dn_suffix }}/cert.pem
  SSLCertificateKeyFile ${HTTPD_KEY_PATH}/star.{{ httpd_dn_suffix }}/privkey.pem
  SSLCertificateChainFile ${HTTPD_CERT_PATH}/star.{{ httpd_dn_suffix }}/chain.pem

  ServerName {{ ojs_sitename }}.{{ httpd_dn_suffix }}
  DocumentRoot {{ojs_parent_dir }}/{{ ojs_sitename }}/ojs

  <Directory "{{ojs_parent_dir }}/{{ ojs_sitename }}/ojs">
    Options Indexes FollowSymLinks
    AllowOverride All
    Order allow,deny
    Allow from all
    Require all granted
  </Directory>

</VirtualHost>
